<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시판</title>
    <link rel="stylesheet" href="/css/boardList.css">
</head>
<body>
    <header>
        <div class="empty"></div>
        <h1 class="header-title">아무 말 대잔치</h1>
        <div class="dropdown">
            <a href="javascript:void(0);" class="profile-img">
                <img src="/img/profile.png" alt="내 정보로 이동">
            </a>
            <div class="dropdown-content">
                <a href="/myinfo">회원정보수정</a>
                <a href="/changePassword">비밀번호수정</a>
                <a href="/logout">로그아웃</a>
            </div>
        </div>
    </header>
    <hr>
    <div class="container">
        <div class="welcome-text">안녕하세요,</div>
        <div class="welcome-text">아무 말 대잔치 <span class="bold">게시판</span> 입니다.</div>
        <br>
        
        <div class="post-list">
            <button class="create-post-button">게시물 작성</button>
            <br><br><br>
            <!-- JSON 데이터를 통해 게시글을 동적으로 추가할 공간 -->
            <div class="post-container">
                <!-- 이 부분은 JavaScript를 통해 게시글이 추가됩니다 -->
            </div>
        </div>
    </div>
    <script src="/js/boardList.js"></script>
</body>
</html>
